{% extends 'base.html' %}

{% block content %}

<!-- =========================
        LOGIN
========================= -->

<div class="auth-container">

    <div class="auth-box">

        <!-- TITULO -->
        <div style="text-align:center; margin-bottom:30px;">

            <div style="
                font-size:60px;
                margin-bottom:15px;
            ">
                📚
            </div>

            <h2 style="
                font-size:32px;
                color:#0f172a;
                margin-bottom:10px;
            ">
                Bienvenido
            </h2>

            <p style="
                color:#64748b;
                line-height:1.6;
            ">
                Inicia sesión para acceder
                a tu biblioteca virtual
            </p>

        </div>

        <!-- FORM -->
        <form method="POST">

            {% csrf_token %}

            <!-- USERNAME -->
            <div style="margin-bottom:20px;">

                <label style="
                    display:block;
                    margin-bottom:8px;
                    font-weight:600;
                    color:#334155;
                ">
                    Usuario
                </label>

                {{ form.username }}

            </div>

            <!-- PASSWORD -->
            <div style="margin-bottom:25px;">

                <label style="
                    display:block;
                    margin-bottom:8px;
                    font-weight:600;
                    color:#334155;
                ">
                    Contraseña
                </label>

                {{ form.password }}

            </div>

            <!-- BOTON -->
            <button class="btn btn-primary">

                Iniciar sesión

            </button>

        </form>

        <!-- REGISTRO -->
        <div style="
            text-align:center;
            margin-top:25px;
        ">

            <p style="
                color:#64748b;
            ">
                ¿No tienes cuenta?
            </p>

            <a href="{% url 'registro' %}" style="
                color:#2563eb;
                font-weight:600;
                text-decoration:none;
            ">
                Crear cuenta
            </a>

        </div>

    </div>

</div>

{% endblock %}